@charset "UTF-8";
#body{
	background-color: #22177A;
}
#div{
	padding-left: 500px;
	padding-top: 100px;
	padding-right: 100px;
	}
	#lsb{
	color: white;
	background-color: red;
	margin-left: 200px;
	height: 35px;
		width: 100px;
		text-align: center;
	
	}
#id{
	
	color: orange;
	padding-right: 50px
}
#pass{
	color: orange;
	padding-right: 10px;
}
input[type="text"]{
	color: white;
	
}	
input[type="password"]{
	color: white;
}