@charset "UTF-8";
#sbody{
	background-color: #740938;
}
.id{
	color: #5BBCFF;
	margin-right: 50px;
}
input[type="text"]{
	color: purple;
margin-left: 50px
}
input[type="password"]{
		color: purple;
			
}
input[type="email"]{
		color: purple;
		margin-left: 40px
			
}
#ssb{
	color: red;
	background-color: #FFE31A;
		margin-left: 200px;
		height: 35px;
		width: 100px;
		text-align: center;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		
	
	
}
#sdiv{
margin-left: 500px;
	margin-top: 100px;
	margin-right: 100px;	
}
#hdiv{
	margin-left: 250px;
	color: #06D001;
}